<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.li.mapper.SetMealMapper">
    <!--新增套餐-->
    <insert id="addSetMeal" useGeneratedKeys="true" keyProperty="id">
        insert into setmeal(name, category_id, price, image, description,
                            status, create_time, update_time, create_user, update_user)
        values (#{name}, #{categoryId}, #{price}, #{image}, #{description},
                #{status}, #{createTime}, #{updateTime}, #{createUser}, #{updateUser})
    </insert>
    <!--修改套餐-->
    <update id="updateSetMeal">
        update setmeal
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="price != null">price = #{price},</if>
            <if test="image != null">image = #{image},</if>
            <if test="description != null">description = #{description},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateUser != null">update_user = #{updateUser},</if>
        </set>
        where id = #{id}
    </update>
    <!--更新套餐的菜品-->
    <update id="updateSetMealDish">
        update setmeal_dish
        <set>
            <if test="copies != null">copies = #{copies},</if>
            <if test="price != null">price = #{price},</if>
            <if test="name != null">name = #{name},</if>
            <if test="dishId != null">dish_id = #{dishId},</if>
        </set>
        where setmeal_id = #{setmealId}
    </update>
<!--    分页查询-->
    <select id="page" resultType="com.li.pojo.vo.SetmealVO">
        select s.id, category_id, s.name, price, s.status, description, image,
               s.update_time, c.name as category_name from setmeal s, category c
        <where>
            s.category_id = c.id
            <if test="name != null and name != ''">and s.name like concat('%',#{name},'%')</if>
            <if test="categoryId != null and categoryId != ''">and category_id = #{categoryId}</if>
            <if test="status != null and status != ''">and s.status = #{status}</if>
        </where>
    </select>
<!--    批量删除-->
    <delete id="deleteById">
        delete from setmeal where id = #{id}
    </delete>

<!--    <select id="pageDish">-->
<!--        select sd.copies, sd.setmeal_id, s.name, sd.dish_id,-->
<!--        s.price, s.id from setmeal_dish sd, setmeal s-->
<!--        where sd.setmeal_id = s.id and s.id = #{id}-->
<!--    </select>-->
<!--计算总数-->
<!--    <select id="count" resultType="java.lang.Integer">-->
<!--        select count(*) from setmeal-->
<!--        <where>-->
<!--            <if test="name != null">and name like concat('%',#{name},'%')</if>-->
<!--            <if test="status != null">and status = #{status}</if>-->
<!--            <if test="categoryId != null">and category_id = #{categoryId}</if>-->
<!--        </where>-->
<!--    </select>-->
</mapper>